body {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

Html {
    Font-size: 62.5%;
}


/* END RESET */

.container {
    width: 100%;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 5.5rem;
}

.header {
    display: flex;
    flex-flow: column nowrap;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: black;
	padding: 10px;
}

.logo {
	min-height: 10vh;
	
}

.nav-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	
	
}

.nav-links li{
	list-style: none;
	word-spacing: 5px;
	
}

.nav-links a{
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 25px;
}

.burger {
	display: none;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	display: hidden;
	cursor: pointer;
	transition: all 0.3s ease;
}


#non-mobile {
    display: none;
}

.buy-button {
    border-radius: 50px;
    background: lightgray;
    margin: 1rem 4rem;
}

.video {
    min-width: 100%;
    min-height: 100%;
}



.header-text {
    display: flex;
    position: absolute;
    color: white;
    font-size: 3rem;
    padding-top: 30%;
    padding-left: 2%;
}

#header-button {
    display: flex;
    position: absolute;
    margin-top: 42%;
    margin-left: 2%;
}

.header {
    display: flex;
}

.past-events{
	background-color:black;
}

.past-events h3 {
	color: white;
    display: flex;
    justify-content: left;
    align-items: center;
	padding: 2%;
}

.past-events .events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
    text-align: center;
    padding: 6%;
}


.events img {
	width: 35rem;
	opacity: .7;
}

.photo {
  	position: relative;
  	text-align: center;
  	color: white;
	font-size: 35px;
	font-style: oblique;
}

.centered {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: lightgray;
}

.photo:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.section-titles {
    display: flex;
    justify-content: left;
    align-items: left;
    text-transform: uppercase;
    font-family: Gotham, Helvetica, sans-serif;
    padding: 30px 30px;
    margin-left: 30px;
}

.instagram-feed h2 {
    text-decoration: none;
}

.instagram-feed h2 a:hover {
    color: blue;
}

.ig-link {
    text-decoration: none;
    color: black;
}

.footer {
    display: grid;
    grid-template-areas: "footer footer footer";
    align-items: center;
    background: #000;
    color: white;
    padding: 1.5% 0;
}


.footer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-1 ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}

.footer-1 ul li a:hover {
    text-decoration: underline;
}



.footer-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.footer-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-3 ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}

.footer-3 ul li a:hover {
    text-decoration: underline;
}


/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1201px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 799px) {

    h2,
    h3 {
        font-size: 3rem;
    }

    #non-mobile {
        display: none;
    }

    .section-titles {
        margin: 0;
        padding: 1rem;
    }

    a.ig-link {
        font-size: 2rem;
    }

    .footer {
        display: flex;
        flex-flow: column nowrap;
    }

    .footer-2 {
        text-align: center;
        width: 60%;
        padding: 1rem;
        margin: auto;
    }


}


@media screen and (max-width:1024px){
	.nav-links{
		width: 60%;
		word-spacing: 5px;
	}
}

@media screen and (max-width:768px){
	body{
		overflow-x:hidden;
	}
	
	.nav-links{
		height: 100%;
		width: 0px;
		position: fixed;
		z-index: 1;
		top: 0px;
		right: 0px;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	
	.nav-links li{
		opacity: 0;
	}
	
	.burger{
		display: block;
		z-index: 1;
	}
	

}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(10px);
	}
	
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
	opacity:0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}

.hidden body{
	display: hidden;
}