body {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

Html {
    Font-size: 62.5%;
}

/* END RESET */

.container {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 5.5rem;
}

.header {
    display: flex;
    flex-flow: column nowrap;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(27, 23, 23);
    opacity: 95%;
    overflow: hidden;

}

.nav a {
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1% 2%;
    color: white;
}

.nav a:hover {
    color: rgba(255, 0, 0, 0.568);
}

.video {
    min-width: 100%;
    min-height: 100%;


}

.header {
    display: flex;
}

.past-events h2 {
    color: white;
    
}

.past-events {
    background: black;
    padding: 0; !important
}

.past-events .events {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 6%;
}


.section-titles {
    display: flex;
    justify-content: left;
    align-items: left;
    text-transform: uppercase;
    font-family: Gotham, Helvetica, sans-serif;
    font-size: ;
    padding: 30px 30px;
    margin-left: 30px;
}

.instagram-feed h2 {
    text-decoration: none;
}

.footer {
    display: flex; 
    background: #000;
    color: white;
}

.footer-1 {
    flex: 1;
    text-decoration: none;
    list-style-type: none;
}

.footer-2 {
    flex: 2;
}

.footer-3 {
    flex: 1;
    text-decoration: none;
    list-style-type: none;
}